[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/lun/Applications/marktext-x86_64.AppImage
GenericName[en_US]=
GenericName=
Icon=system-run
MimeType=
Name[en_US]=Marktext
Name=Marktext
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
